body { 
    font-family: 'Lucida Grande',sans-serif;
    color: white;
    background-color: black;
}
header {
    text-align: center;
}
footer {
    color: white;
    background-color: black;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
}
p {
    font-size: 24px;
    padding-top: 20px;
}
img {
    display: block;
    width: 525px;
    height: auto;
    margin: auto;
}
div{
    min-height: 150px;
    padding: 25px;
}
#red {
    background-color: red;
    text-align: right;
}
#blue {
    background-color: blue;
    text-align: left;
}
#yellow {
    background-color: yellow;
    text-align: right;
}
#yellow h2{
    color: black;
    text-shadow: 5px 5px 2px #c7e2c7;
}
#yellow p {
    color: black;
}
#green {
    background-color: green;
    text-align: left;
}

